$color-primary: rgb(30, 144, 255);
$color-primary-light: rgb(119, 187, 255);
$color-primary-dark: rgb(0, 116, 232);

$color-secondary: rgba(195, 195, 195, .7);
$color-secondary-light: #fff;
$color-secondary-dark: #fff;

$color-anchor: rgb(249, 201, 0);
$color-anchor-light: rgb(249, 201, 0);
$color-anchor-dark: rgb(0, 0, 0);

$color-danger: rgb(239, 54, 53);
$color-warning: rgb(255, 204, 0);
$color-success: rgb(0, 159, 80);
$color-info: rgb(0, 138, 204);

$breakpoint-tablet: 600px;

$ff-normal: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;

$fs-normal: 14px;
$fs-10: 0.7142857142857143rem;
$fs-12: 0.8571428571428571rem;
$fs-14: 14px;
$fs-16: 1.142857142857143rem;
